// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue:  #073B4C;
$yellow: #f1c40f;
$orange: #e67e22;
$green: #2ecc71;
$purple: #9b59b6;
$brown: #b33939;
$gray: #2C2C2C;
$white: #fff;
$light-gray: #ECECEB;
$primary: #073B4C;
$secondary: #3498db;
$tertiary: #2ecc71;
$white: #fff;

