// .dashboard-container {
//   background: image-url('bondcar.jpg');
//   background-position: center;
//   background-size: cover !important;
//   min-height: 100vh;
// }

.grid-container {
  display:grid;
  grid-template-columns: 25% 85%;
  grid-template-rows: 100%;
  height: 100vh;
}

.left {
  background-color: $white;
  color: $gray;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.wrapper{
  font-family: Arial;
  max-width: 1080px;
  // margin: 0 auto;
  padding: 10px;
  background:#999;
}

.tab {
  border-color: transparent;
  font-size: 20px;
  background: $white;
  color: $orange;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.tab:hover {
  opacity: 0.7;
}

.tabs{
  display: flex;
}

.tab_two {
  background: $orange;
  color: $gray;
}

.content {
  font-size: 20px;
  background: #666;
  padding: 5px 20px;
  color: #fff;
  display: none;
}

.content_two {
  background: $white;
  color: #444;
}
.card .ticket-card {
  background-color:$white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}
.left .dashboard-card{
  background-color: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
}

.dashboard-details {
  font-size: 1.2em !important;
  display: inline-block !important;
}


