// .dashboard-container {
//   background: image-url('bondcar.jpg');
//   background-position: center;
//   background-size: cover !important;
//   min-height: 100vh;
// }

.grid-container {
  display:grid;
  grid-template-columns: 25% 85%;
  grid-template-rows: 100%;
  height: 100vh;
}

.left {
  background-color: $white;
  color: $gray;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.right{
  color: $gray;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}
.card .ticket-card {
  background-color:$light-gray;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

.right .dashboard-card, .left .dashboard-card{
  background-color: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
}


// .car-card, .booking-card {
//   background-color: #808080;
//   margin: 20px;
//   padding: 10px;
//   border-radius: 10px;
//   color: black;
//   max-width: 300px;
// }

// .btn-twitter {
//   color: white;
//   text-align: center;
//   border: 1px solid #808080;
//   text-decoration: none;
//   border-radius: 50px solid #808080;
//   padding: 10px 50px;
//   margin: 60px  40px;
//   font-weight: bolder;
//   font-size: 20px;
//   background: #808080;
//   transition: background 0.3s ease;
// }
// .btn-twitter:hover {
//   background: #?3ac162;
//   text-decoration: none;
//   color: white;
// }

// .car-card-photo {
//   height: 200px;
//   width: 100%;
// }


// #dashboard-car-link {
//   position: relative;
//   left: 165px;
// }

.dashboard-details {
  font-size: 1.2em !important;
  display: inline-block !important;
}
