<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">

  <div class="banner-content text-center">
    <h1>Emergency Aid for Tech Projects</h1>
    <p>Coding problem? Get it solved by a professional within 60 minutes.</p>
    <%= link_to "Get Help", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>

<%= content_for(:footer_class, "footer-home") %>

