<h1>Get help with your code</h1>

<div>
<p>How this works:</p>
<p>1. Sign up</p>
<p>2. Create a ticket by describing what code/debug you're stuck on and copy in code</p>
<p>3. Pay a small fee</p>
<p>3. Get a top expert to answer in 30 min</p>
<p>4. Follow-up for further feedback if you need it. </p>
<p>5. Leave a review.</p>
<p>6. Experienced programmer? Become a teacher/guide and make side $$</p>
</div>

