<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">

  <div class="banner-content text-center">
    <h1>Emergency Aid for Tech Projects</h1>

    <p>Coding issues? Get professional help in 5 min.</p>
    <% if !user_signed_in? %>
      <%= link_to "Get Help", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to "Get Help", new_ticket_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>


<div class="w3-container">
  <h2>About</h2>
  <p>Add containers inside the card to create different section:</p>

  <div class="w3-card-4" style="width:50%;">
    <header class="w3-container w3-blue">
      <h1>Header</h1>
    </header>

    <div class="w3-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>


<div class="w3-container">
  <!-- <h3>How it works</h3> -->
  <button onclick="document.getElementById('id01').style.display='block'" class="btn-treehouse">How it works</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
      </header>
      <div class="w3-container">
        <p>1. Sign up</p>
        <p>2. Create a ticket by describing what you're stuck with and copy in code</p>
        <p>3. Pay a small fee</p>
        <p>3. Get an expert answer in 30 min</p>
        <p>4. Follow-up for further feedback if you need it.
        </div>
    </div>
  </div>
</div>



