<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">

  <div class="banner-content text-center">
    <h1>Emergency Aid for Tech Projects</h1>

    <p>Coding issues? Get professional help in 60 min.</p>
    <% if !user_signed_in? %>
      <%= link_to "Get Help", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to "Get Help", new_ticket_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>

