<h1>All the tickets</h1>


<div class="row">
<% @tickets.each do |ticket| %>

  <div class="col-xs-3">
    <div class="card">
      <div class="card-info">
        <h3><%= ticket.title %></h3>
        <!--Show start of ticket description -->
        <p><%= ticket.description[0..50] %></p>
      </div>
      <div class="card-technology">
        <span><% ticket.technologies.each do |technology| %>
          <%= technology.name %>  <% end %></span>
      </div>
      <%= link_to "show",ticket_path(ticket), class: "card-link"  %>
    </div>
  </div>

<%  end %>
</div>
