<div class="container min-height">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Create a ticket</h1>
      <p>To include a block of code, please use three back-ticks ``` at the top and bottom of the block. We use <a href="https://caleorourke.gitbooks.io/redcarpet-syntax/content/code/index.html"> Redcarpet Syntax</a>.</p>
        <%= render "shared/form" %>
    </div>
  </div>
</div>
