.clock{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  background-color: #06D6A0;
  color: white;
  border-radius: 4px;
  width: 200px;
}

.expired {
  background-color: rgba(240, 47, 83, 0.8);
  width: 150px;
  border-radius: 4px;
  color: white;
  font-family: $body-font;
  font-weight: lighter;
  padding: 5px;
  text-align: center;
}


