.footer-learn2 {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
}


.footer-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

/* Right section */

.min-height {
  min-height: 100vh;
}

body {
  min-height: 100%;
}
