.tech-tag {
  transition: .5s;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}


.ruby-tag {
  background-color: #D32222;
}

.html-tag {
  background-color: blue;
}

.rails-tag {
  background-color: green;
}

.css-tag {
  background-color: $blue;
}

.java-tag {
  background-color: $orange;
}

.javascript-tag {
  background-color: blue;
}
