.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-tag {
  flex: 1 0 auto;
  transition: .5s;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}


.ruby-tag {
  background-color:#f02f53;
}

.html-tag {
  background-color: #66D9EF;
}

.rails-tag {
  background-color: #F92672;
}

.css-tag {
  background-color:#2ab9e7;
}

.java-tag {
  background-color:#ffd662;
}

.javascript-tag {
  background-color: #3c3f63;
}

.php {
  background-color: #f97979;
}

.ios{
  background-color:#72a9ad;
}

 .pyhton{
  background-color:#9fe1b1;
 }

 .android{
  background-color:#E6DB74;
 }
